.profil_utilisateur {

    max-width: 800px;

    margin: 0 auto;

    padding: 20px;

    border: 1px solid #ccc;

    box-shadow: 0 0 10px #ccc;

}

.profile-header {

    text-align: center;

    margin-bottom: 20px;

}

.profile-name {

    font-size: 24px;

    margin-top: 10px;

}

.profile-bio {

    font-size: 16px;

    margin-top: 10px;

}

.profile-img {

    width: 150px;

    height: 150px;

    border-radius: 50%;

    object-fit: cover;

}