span.lastname {
    font-weight: bold;
    font-variant: small-caps;
}

.contacts a {
    text-decoration: none;
    color: black;
}
.contacts a:hover {
    background-color: blue;
    transition: ease-in-out background-color 0.8s;
}

.ul-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}


.button-deco {
    flex: 1 0 100%;
}

.all_category {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
}

.category {

    width: 200px;

    height: 75px;

    margin: 10px;

    padding: 10px;

    border: 1px solid #ddd;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    display: flex;

    flex-direction: column;

    justify-content: space-between;
}

.category a {
    text-decoration: none;
    color: black;
    text-align: center;
}
