{% extends 'base.html.twig' %}

{% block title %}Liste de toute les categories !{% endblock %}

{% block body %}

    <ul>
        {% for categorie in categories %}
            <li class="categorie"><a href="{{ path('app_category_show', {id : categorie.id}) }}">{{ categorie.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
