{% extends 'base.html.twig' %}

{% block title %}Liste des contacts de la categorie : {{ category.name }}{% endblock %}

{% block body %}
    <h1>Contacts de la categorie : {{ category.name }}</h1>

    {% include 'contact/_contacts.html.twig' with {contacts: contacts, show_category: false} %}

{% endblock %}