{% extends 'base.html.twig' %}

{% block title %}Édition de {{ "#{contact.lastname}, #{contact.firstname}" }}{% endblock %}

{% block body %}
    <h1>Édition de {{ "#{contact.lastname}, #{contact.firstname}" }}</h1>

{% endblock %}



