{% extends 'base.html.twig' %}

{% block title %}Suppression de {{ "#{contact.lastname}, #{contact.firstname}" }}{% endblock %}

{% block body %}
    <h1>Suppression de {{ "#{contact.lastname}, #{contact.firstname}" }}</h1>

{% endblock %}

