{% extends 'base.html.twig' %}

{% block title %}Liste des contacts{% endblock %}

{% block body %}
    <h1>Liste des contacts</h1>
    {% if search is not empty and contacts is empty%}
        <h2 style="color : red">Aucun contact trouvé pour la recherche</h2>
    {% endif %}

    {{ include('contact/_contacts.html.twig', {contacts : contacts}) }}

{% endblock %}
