{% extends 'base.html.twig' %}

{% block title %}Hello HelloController!{% endblock %}

{% block body %}

    <ul>
        <li><a href="{{ path('app_hello_manytimes', {name: 'joe',times: 5}) }}">hello Joe 5</a></li>
        <li><a href="{{ url('app_hello_manytimes', {name: 'bob',times: 8}) }}">hello bob 8</a></li>
    </ul>


{% endblock %}
