{% extends 'base.html.twig' %}

{% block title %}Hello many times!{% endblock %}

{% set color = ["red", "green"] %}

{% block body %}
    <h1 style="color: blue">hello many times {{ name }}!</h1>
    {% for i in 1..times %}
        <p style="color : {{ cycle(color,i) }}"> Hello {{ name | capitalize}}!({{ i|format_number({integer_digit: 2}) }} ) </p>
    {% endfor %}
{% endblock %}
